
.container{
display: flex;
align-items: center;
align-content: center;
justify-content: center;
height: 100vh;
width: 100vw;
}

.timer {
margin-bottom: 20px;
font-family: Ubuntu;
font-weight: 700;
font-style: Bold;
font-size: 80.22px;
line-height: 80%;
letter-spacing: 2%;
text-align: center;
vertical-align: middle;
color: #6035D3;
}

.question-card {
display: flex;
align-items: center;
flex-direction: column;
background-color: white;
padding: 50px;
width: 520px;
height: 773px;
border-radius: 32px;
background: #FFF;
}

.question-title{
    margin-top: 20px;
color: #000;
text-align: center;
font-family: Ubuntu;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 116.635%; /* 27.992px */
letter-spacing: 0.48px;
}

.topic {
margin-top: 10px;
display: inline-flex;
padding: 10px;
justify-content: center;
align-items: center;
/* gap: 10px; */
border-radius: 12px;
background: #E1D7FA;
color: #6035D3;

font-family: Ubuntu;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

hr {
width: 376.603px;
height: 1px;
background: rgba(200, 183, 183, 0.80);
}
.option-container{
display: flex;
width: 488.764px;
flex-direction: column;
align-items: flex-start;
/* gap: 2.885px; */
}

.option1, .next{
display: flex;
height: 32.069px;
padding: 18.268px 46.536px 18.8px 46.624px;
justify-content: center;
align-items: center;
align-self: stretch;
border-radius: 21.885px;
background: #F7F7F8;
color: #000;

text-align: center;
font-family: Ubuntu;
font-size: 21.885px;
font-style: normal;
font-weight: 400;
line-height: normal;
/* width: 100%; */
  /* box-sizing: border-box;  */
}

