@import url("https://fonts.googleapis.com/css2?family=Irish+Grover&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=VT323&display=swap");

.FinanceFactContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  padding: 1rem;
}

.factContainer {
  font-family: "Source Sans 3", sans-serif;
  font-size: 1.2rem;
  width: 90%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #019874;
  border-radius: 1rem;
}

.FinanceFactContainer button {
  padding: 10px 12px;
  border: none;
  border-radius: 1rem;
  color: #ffffff;
  background-color:#287160;
}

.FinanceFactContainer button:active {
  outline: none;
}
