body {
    display: flex;
    justify-content: center;
}

button {
    padding: 5px 5px;ul {
    display: block;
    justify-content: center;
}
}

li {
    list-style: none;
    width: 995px;
    height: auto;
    background-color: crimson;
    padding: 2px 20px;
    border-radius: 10px;
    margin: 20px;
    display: flex;
}

.buttons {
    display: flex;
    align-items: center;
    margin: 0 0 0 auto;
    gap: 10px;
    display: flex;
}

button {
    padding: 12px 15px;
    border-radius: 10px;
    border: none;
}

.each-recipe {
    margin: 3px;
    padding: 10px;
}

h3 {
    margin-top: -3px;
}